nav a{
background-color: blue;
text-decoration: none;
opacity:0.25;
color: white;
text-align: center;
background-color: black;


}
nav a:hover{
background-color: grey;
width:25px;
padding:2px;
border:2px solid red;
}
nav a:active{
background-color: blue;
color: black;
}
h1
{
background-color: yellow;
text-align: center;
font-weight: bold;
}
body
{
background-color:white
}
.jordan{
position: static;
}
.shoe{
max-width:300px;
border:1px solid black;
position: static;
}
